/*header*/
header{background: lightblue; text-align:right; display:flex; align-items: center;}
header #menu {flex: 1;}

/*untitled.html background*/
.darkness{background-color: black;}
#greeting{color: red; text-align: center;}